header {
    background-color: #333;
    padding: 10px;
}

.navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 40px;
}

.nav-list {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-item {
    margin-right: 30px;
}

.nav-item a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    padding: 10px 15px;
    border-radius: 5px;
    transition: color 0.3s ease;
}

.nav-item a:hover {
    color: #ffd700;
}
