@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');

.myNav {
    background-color: rgb(165, 132, 42);
    display: flex;
    height: 6vh;
    width: 100%;
    align-items: center;
    font-family: 'JetBrains Mono', monospace;
    font-size: 17px;
    color: white;

}